@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --grey: #7f8da0;
  --black: #23233c;
  --green: #6bc37c;
}
html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slashs {
  margin-top: -280px;
  padding: 0 70px;
  margin-bottom: 120px;
}
.text-normal {
  font-size: 2.8rem;
}
.mob-btn {
  display: none;
  margin-bottom: 50px;
}
.too-bold {
  font-weight: 700;
  font-size: 4.5rem;
  padding: 0;
  margin: 0;
}
.text-grey {
  color: var(--grey);
}
.text-green {
  color: var(--green);
}
.text-black {
  color: var(--black);
}

body {
  background: #f2f6ff 0% 0% no-repeat padding-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  font-size: 2rem;
  margin: 0 15px;
}

/* navbar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding: 0 70px;
}

nav img {
  height: 53px;
  width: auto;
}
.nav1 a {
  color: var(--grey);
  font-weight: 400;
}
.nav2 a {
  font-weight: 600;
}
.nav2 .login {
  color: var(--black);
}
.nav2 .register {
  color: var(--green);
}

/* section1 */
.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}
.btn {
  padding: 40px 0;
}
.section-text {
  /* display: flex;
  flex-direction: column;
  justify-content:; */
  /* margin-left: 70px; */
  width: 50%;
  /* margin-top: 150px; */
}
.bold-lines {
  display: flex;
  margin: 0;
  padding: 20px 0;
  flex-direction: column;
  list-style: none;
  line-height: 290%;
  /* justify-content: cen; */
}
.section1 .cluster1 picture img {
  width: 100%;
  height: auto;
  margin-top: 0;
}
.section-text img {
  width: 250px;
  height: auto;
}
.section2 img {
  width: 250px;
  height: auto;
  /* max-height: 500px; */
}
.round {
  margin: 30px 0;
  padding: 0%;
  border-radius: 4px;
}

.text-last {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0%;
  margin-top: 150px;
}
/* section2 */
/* .rect2 {
  top: 1378px;
  left: -2000px;
  height: 900px;
  z-index: -10;
  width: auto;
  margin: 0;
  padding: 0%;
} */
.section2 {
  z-index: 10;
  display: flex;
  flex-direction: row;
  /* margin: 0 150px; */
  padding: 0 100px;
  justify-content: left;
}
.img-meal {
  height: 450px;
}
.meal1 {
  margin: 0;
  padding: 0%;
}
.meal-text {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.lines-v {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 3rem;
  /* text-align: ; */
}
.lines-h {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.6rem;
}
.meal1 {
  margin-top: -80px;
}
.meal-div {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.meal2 {
  margin-top: 80px;
}
.meal-text {
  margin-top: 80px;
}
.btn-btm {
  display: none;
}
/* section3 */
.section3 {
  /* margin: 0 150px; */
  display: flex;
  padding: 0 100px;
  margin-bottom: 200px;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10;
}
.section3-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.section3 picture img {
  max-width: 450px;
  height: auto;
  width: 90vw;
  /* margin-left: -15px; */
  text-align: center;
}
.section3-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

/* footer */
footer {
  /* margin: 0 80px; */
  /* margin-right: 100px; */
  margin-bottom: 70px;
  padding: 0 70px;
}
.columns ul {
  list-style: none;
}
.columns {
  display: flex;
  line-height: 200%;
  flex-direction: row;
  justify-content: space-between;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.column4 {
  width: 12%;
}
.column4 img {
  height: 30px;
  width: auto;
  /* padding: 20px; */
}
/* .app-text {
  padding-left: 15px;
} */
footer ul {
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.text-last {
  font-size: 1.8rem;
}

@media screen and (max-width: 950px) {
  .btn {
    display: none;
  }

  .slashs {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.6rem;
  }
  .mob-btn {
    display: block;
    text-align: center;
    height: 100px;
    max-height: 100px;
  }

  .btnn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -50px;
  }

  .section1 .section-text {
    margin-top: 0;
    width: 100%;
    /* margin: 0 50px; */
    margin-bottom: -100px;
  }
  .text-last {
    margin: 0;
    text-align: center;
    margin-bottom: 180px;
  }
  .nav1 {
    display: none;
  }
  footer .columns .column3 {
    display: none;
  }
  footer .columns .column2 {
    display: none;
  }

  .column4 .app-text {
    display: none;
  }

  .section-img {
    text-align: center;
  }
  .section3 {
    flex-direction: column;
    /* margin: 0 50px; */
  }
  .section3-text {
    width: 100%;
    text-align: left;
  }
  .section3-img {
    text-align: center;

    /* margin-left: -10px; */
  }
  .section2 {
    flex-direction: column;
    justify-content: center;
    /* margin: 0 50px; */
    text-align: center;
  }
  /* .meal-div {
    flex-direction: column;
    /* justify-content: space-around; */
  /* text-align: center; */
  /* } */
  lines-v {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .lines-h {
    flex-direction: row;
  }

  .meal-text {
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.side-icon {
  display: none;
}

@media screen and (max-width: 640px) {
  .column4 {
    width: 100%;
  }
  .section2 .meal1 {
    margin-top: -200px;
  }
  .section1 {
    flex-direction: column;
  }
  .text-last {
    font-size: 1.4rem;
    /* margin: 0; */
    /* padding: 0%; */
    text-align: center;
  }
  .too-bold {
    font-size: 3.2rem;
  }

  nav {
    padding: 30px;
  }
  .slashs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    height: 2rem;
    margin: 0;
    /* padding: 0%; */
    text-align: center;
  }
  .icons img {
    margin: 20px 10px;
  }
  .columns {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  .side-icon {
    display: inline;
    height: 20px;
    margin: 20px 0;
  }
  last-text {
    display: inline;
    text-align: center;
    width: 100%;
  }
  nav {
    /* margin: 40px; */
  }
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }
  .meal1 {
    margin: 0;
  }
  .meal2 {
    margin: 0;
  }
  .nav2 {
    display: none;
  }
  .icons {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0%;
  }
  .section1 .section-text {
    width: 90%;
  }
  .section1,
  .section2,
  .section3,
  footer {
    padding: 0 2rem;
  }
  .section1 .cluster1 picture img {
    margin: 50px 0;
  }
}

@media screen and (min-width: 1200px) {
}
